:root {
  --bg-primary: #fdf4e6;
  --bg-secondary: #f8d8a8;

  --button-color: #f8d8a8;
  --button-text: #000000;
  --button-shadow-light: #f8b878;
  --button-shadow-dark: rgba(45, 35, 66, 0.4);

  --no-interact-bg: lightgrey;
  --no-interact-shadow: darkgrey;

  width: 100%;
  height: 100%;

  background-color: var(--bg-primary);
  overflow: hidden;
}
html, body {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #262626;
  padding: 20px 24px;
  border-bottom: 2px solid var(--bg-secondary);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bg-secondary);
  letter-spacing: 0.5px;
  font-family: "JetBrains Mono", monospace;

  position: relative;
}

.center {
  width: 100%;
  height: 55%;

  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.column {
  --line-color: lightgrey;

  height: fit-content;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.column::after {
  background-color: var(--line-color);
  transition: background-color 1s ease;
}
.column:nth-child(-n+2)::after {
  content:'';
  position: absolute;
  top: 15%;
  left: 80%;
  width: 60%;
  height: 2px;
}

/*Button structure taken from this css site: https://getcssscan.com/css-buttons-examples, specifically button 30*/
.action-button {
  height: 48px;
  width: 200px;
  align-items: center;
  appearance: none;
  background-color: var(--no-interact-bg);
  border-radius: 6px;
  border-width: 0;
  color: var(--button-text);
  cursor: not-allowed;
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  padding: 0 16px;
  user-select: none;
  pointer-events: none; /*this is fixed from colored class when applied by applyColoredClass function*/
  box-shadow:
    var(--no-interact-bg) 0 2px 4px,
    var(--no-interact-bg) 0 7px 13px -3px,
    var(--no-interact-shadow) 0 -3px 0 inset;
  transition: 
    background-color 1s ease,
    box-shadow 0.5s ease;
  position: relative;
  overflow: hidden;
}
.action-button:hover {
  box-shadow:
    var(--button-shadow-dark) 0 4px 8px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
}
.action-button:active {
  box-shadow: var(--button-shadow-light) 0 3px 7px inset;
}
.action-button:focus {
  box-shadow:
    var(--button-shadow-light) 0 0 0 2px inset,
    var(--button-shadow-dark) 0 2px 4px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
}
.action-button::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: -150%;
  width: 80%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transform: skewX(-20deg);
}
.action-button:hover::after {
  animation: shine 0.7s ease forwards;
  opacity: 1;
}
/* for some reason animations reverse on mouse exit.
   this prevents that from happening */
.action-button:not(:hover)::after {
  animation: none;
}

.display-title {
  width: 195px;
  height: 25px;
  position: absolute;
  top: calc(100% + 25px);
  left: 0;
  padding-left: 5px;
  display: inline-flex;
  align-items: center;

  background-color: var(--no-interact-bg);
  border-radius: 6px;
  border-width: 0;
  color: var(--button-text);
  transition: background-color 1s ease;
}
.display-text-area {
  width: 200px;
  height: 120px;

  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--button-text);
  box-shadow: var(--no-interact-shadow) 0 3px 7px inset;
  transform: translateY(2px);

  position: absolute;
  top: calc(100% + 60px);
  overflow-y: scroll;
  overflow-x: hidden;

  transition: box-shadow 1s ease;
}
.display-text-area p {
  white-space: nowrap;
  padding: 0;
  padding-left: 4px;
  padding-top: 4px;
  margin: 0;

  &:nth-child(2n) {
    background-color: var(--bg-primary);
    filter: brightness(90%);
  }
  &:hover {font-weight: bold;}
}

.temp-art {
  width: 80px;
  height: 80px;

  background-color: var(--no-interact-bg);
  
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);

  -webkit-mask-size: contain;
  mask-size: contain;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  transition: background-color 1s ease;
}

.fake {
  color: rgb(0, 17, 255);
  visibility: hidden;
}

/*-------- ANIMATIONS --------*/

@keyframes shine {
  0%   { left: -150%; }
  100% { left: 150%; }
}
