:root {
  --bg-primary: #fdf4e6;
  --bg-secondary: #f8d8a8;

  --button-color: #f8d8a8;
  --button-text: #000000;
  --button-shadow-light: #f8b878;
  --button-shadow-dark: rgba(45, 35, 66, 0.4);

  --no-interact-color: lightgrey;

  width: 100%;
  height: 100%;

  background-color: var(--bg-primary);
  overflow: hidden;
}
html, body {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  margin: 0;
  padding: 0;
}

.top-bar {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;

  position: relative;
}

.center {
  width: 100%;
  height: 75%;

  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.column {
  height: fit-content;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*border: solid blue 2px;*/
  align-items: center;
  justify-content: center;
}
.column:nth-child(-n+2)::after {
  content:'';
  position: absolute;
  top: 10%;
  left: 80%;
  width: 60%;
  height: 2px;
  background-color: red;
}

/*Button format taken from this css site: https://getcssscan.com/css-buttons-examples*/
.action-button {
  height: 48px;
  width: 200px;
  align-items: center;
  appearance: none;
  background-color: var(--button-color);
  border-radius: 6px;
  border-width: 0;
  box-shadow:
    var(--button-shadow-dark) 0 2px 4px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--button-text);
  cursor: pointer;
  display: inline-flex;
  /*font-family: "JetBrains Mono", monospace;*/
  font-size: 14px;
  justify-content: center;
  padding: 0 16px;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
}
.action-button:hover {
  box-shadow:
    var(--button-shadow-dark) 0 4px 8px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.action-button:active {
  box-shadow: var(--button-shadow-light) 0 3px 7px inset;
  transform: translateY(2px);
}
.action-button:focus {
  box-shadow:
    var(--button-shadow-light) 0 0 0 2px inset,
    var(--button-shadow-dark) 0 2px 4px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
}

.column .display-title {
  width: 195px;
  height: 25px;
  position: absolute;
  top: calc(100% + 25px);
  left: 0;
  padding-left: 5px;
  display: inline-flex;
  align-items: center;

  /*background-color: var(--button-color);*/
  background-color: var(--button-color);
  border-radius: 6px;
  border-width: 0;
  color: var(--button-text);
}
.display-text-area {
  width: 200px;
  height: 120px;

  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--button-text);
  box-shadow: var(--button-shadow-light) 0 3px 7px inset;
  transform: translateY(2px);

  position: absolute;
  top: calc(100% + 60px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.display-text-area p {
  white-space: nowrap;
  padding: 0;
  padding-left: 4px;
  padding-top: 4px;
  margin: 0;
  /*transition: font-weight ease 0.1s;*/

  &:nth-child(2n) {
    background-color: var(--bg-primary);
    filter: brightness(90%);
  }
  &:hover {
    font-weight: bold;
  }
}

.colored {
  border: solid red 2px;
  background-color: green;
}
.temp-art {
  width: 50px;
  height: 50px;
  background-color: grey;
  margin-bottom: 20px;
}
.fake {
  color: red;
  visibility: hidden;
}
