:root {
  --bg-primary: #3c3c3c;
  --bg-secondary: #ec430c;

  --button-color: #ec430c;
  --button-color-hover: #792306;
  --button-text: #efefef;
  --button-shadow-dark: rgba(45, 35, 66, 0.4);


  width: 100%;
  height: 100%;

  background-color: var(--bg-primary);
}
html, body {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #262626;
  padding: 20px 24px;
  border-bottom: 2px solid var(--bg-secondary);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bg-secondary);
  letter-spacing: 0.5px;
  font-family: "JetBrains Mono", monospace;

}

.center {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.column {
  height: fit-content;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*border: solid blue 2px;*/
  align-items: center;
  justify-content: center;
}
.column:nth-child(-n+2)::after {
  content:'';
  position: absolute;
  top: 10%;
  left: 80%;
  width: 60%;
  height: 2px;
  background-color: red;
}

/* 
.action-button:hover {
  box-shadow:
    var(--button-shadow-dark) 0 4px 8px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.action-button:active {
  box-shadow: var(--button-shadow-light) 0 3px 7px inset;
  transform: translateY(2px);
}
.action-button:focus {
  box-shadow:
    var(--button-shadow-light) 0 0 0 2px inset,
    var(--button-shadow-dark) 0 2px 4px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
} */

.action-button {
  height: 48px;
  width: 200px;
  align-items: center;
  appearance: none;
  background-color: var(--button-color);
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--button-text);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  justify-content: center;
  padding: 0 16px;
  user-select: none;

  /* stuff for new animation */
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.25s ease;
}

.action-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 80%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transform: skewX(-20deg);
}

.action-button:hover {
  box-shadow: 0 0 18px var(--button-color-hover);
}

.action-button:hover::after {
  animation: shine 0.7s ease forwards;
}

/* for some reason animations reverse on mouse exit.
   this prevents that from happening */
.action-button:not(:hover)::after {
  animation: none;
}

.temp-art {
  width: 50px;
  height: 50px;
  background-color: white;
}
.fake {
  color: red;
  visibility: hidden;
}

/*-------- ANIMATIONS --------*/

@keyframes shine {
  0%   { left: -150%; }
  100% { left: 150%; }
}