:root {
  --bg-primary: #fdf4e6;
  --bg-secondary: #f8d8a8;
  --button-color: #f8d8a8;

  width: 100%;
  height: 100%;

  background-color: var(--bg-primary);
}
html, body {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  margin: 0;
  padding: 0;
}

.top-bar {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;

  position: relative;
}

.center {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.column {
  height: fit-content;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid blue 2px;
  align-items: center;
  justify-content: center;
}
.column:nth-child(-n+2)::after {
  content:'';
  position: absolute;
  top: 10%;
  left: 80%;
  width: 60%;
  height: 2px;
  background-color: red;
}

.action-button {
  width: 200px;
  height: 40px;

  border-radius: 20px;
  background-color: var(--button-color);

  font-size: 14px;

  transition: all 0.5s ease;
}
.action-button:hover {
  background-color: #f0c090;
}

.temp-art {
  width: 50px;
  height: 50px;
  background-color: grey;
}
.fake {
  color: red;
  visibility: hidden;
}
