:root {
  --bg-primary: #fdf4e6;
  --bg-primary-translucent: rgba(253, 244, 230, 0.5);
  --bg-secondary: #f8d8a8;

  --button-color: #f8d8a8;
  --button-text: #000000;
  --button-shadow-light: #f8b878;
  --button-shadow-dark: rgba(45, 35, 66, 0.4);
  --top-bar-color: #262626;

  --no-interact-bg: lightgrey;
  --no-interact-shadow: darkgrey;

  --font-type: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  width: 100%;
  height: 100%;

  background-color: var(--bg-primary);
  overflow: hidden;
}
html, body {
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  margin: 0;
  padding: 0;
  font-family: var(--font-type);
}

.top-bar {
  background-color: var(--top-bar-color);
  padding: 20px 24px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bg-secondary);
  letter-spacing: 0.5px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.round-button {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: var(--top-bar-color);
  text-align: center;
  background: var(--button-color);
  font-size: 20px;
  font-weight: bold;
  margin-right : 10px;
  border: none;
}
.round-button:hover {
    background: var(--button-shadow-light);
}

.center {
  width: 100%;
  height: 55%;

  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.column {
  --line-color: lightgrey;

  height: fit-content;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.column::after {
  background-color: var(--line-color);
  transition: background-color 1s ease;
}
.column:nth-child(-n+1)::after {
  content:'';
  position: absolute;
  top: 15%;
  left: 80%;
  width: 60%;
  height: 2px;
}

/*Button structure taken from this css site: https://getcssscan.com/css-buttons-examples, specifically button 30*/
.action-button {
  height: 48px;
  width: 200px;
  align-items: center;
  appearance: none;
  background-color: var(--no-interact-bg);
  border-radius: 6px;
  border-width: 0;
  color: var(--button-text);
  cursor: not-allowed;
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  padding: 0 16px;
  user-select: none;
  pointer-events: none; /*this is fixed from colored class when applied by applyColoredClass function*/
  box-shadow:
    var(--no-interact-bg) 0 2px 4px,
    var(--no-interact-bg) 0 7px 13px -3px,
    var(--no-interact-shadow) 0 -3px 0 inset;
  transition: 
    background-color 1s ease,
    box-shadow 0.5s ease;
  position: relative;
  overflow: hidden;
}
.action-button:hover {
  box-shadow:
    var(--button-shadow-dark) 0 4px 8px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
}
.action-button:active {
  box-shadow: var(--button-shadow-light) 0 3px 7px inset;
}
.action-button:focus {
  box-shadow:
    var(--button-shadow-light) 0 0 0 2px inset,
    var(--button-shadow-dark) 0 2px 4px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-light) 0 -3px 0 inset;
}
.action-button::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: -150%;
  width: 80%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transform: skewX(-20deg);
}
.action-button:hover::after {
  animation: shine 0.7s ease forwards;
  opacity: 1;
}
/* for some reason animations reverse on mouse exit.
   this prevents that from happening */
.action-button:not(:hover)::after {
  animation: none;
}

.display-title {
  width: 195px;
  height: 25px;
  position: absolute;
  top: calc(100% + 25px);
  left: 0;
  padding-left: 5px;
  display: inline-flex;
  align-items: center;

  background-color: var(--no-interact-bg);
  border-radius: 6px;
  border-width: 0;
  color: var(--button-text);
  transition: background-color 1s ease;
}
.display-text-area {
  width: 200px;
  height: 120px;

  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--button-text);
  box-shadow: var(--no-interact-shadow) 0 3px 7px inset;
  transform: translateY(2px);

  position: absolute;
  top: calc(100% + 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: box-shadow 1s ease;
}

.display-text-area::-webkit-scrollbar {
  display: none;
}

.display-text-area p {
  white-space: nowrap;
  padding: 0;
  padding-left: 4px;
  padding-top: 4px;
  margin: 0;

  &:nth-child(2n) {
    background-color: var(--bg-primary-translucent);
    filter: brightness(90%);
  }
  &:hover {font-weight: bold;}
}

.temp-art {
  width: 80px;
  height: 80px;
  background-color: var(--no-interact-bg);
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  transition: background-color 1s ease;
}

#message-box {
  position: absolute;
  bottom: -130px;
  right: 55px;
  width: 37%;
  height: 100px;
  background-color: var(--bg-secondary);
  border-width: 0;
  border-radius: 20px;
  overflow: hidden;
  color: black;
  cursor: pointer;
  box-shadow:
    var(--button-shadow-dark) 0 2px 4px,
    var(--button-shadow-dark) 0 7px 13px -3px,
    var(--button-shadow-dark) 0 -3px 0 inset;
  transition:
    bottom 1s linear( /*linear transition from https://stackoverflow.com/questions/29786230/how-to-create-css-bounce-effect#:~:text=linear(%0A%20%20%20%200%2C%200.004%2C%200.016%2C%200.035%2C%200.063%2C%200.098%2C%200.141%2013.6%25%2C%200.25%2C%200.391%2C%200.563%2C%200.765%2C%0A%20%20%20%201%2C%200.891%2040.9%25%2C%200.848%2C%200.813%2C%200.785%2C%200.766%2C%200.754%2C%200.75%2C%200.754%2C%200.766%2C%200.785%2C%0A%20%20%20%200.813%2C%200.848%2C%200.891%2068.2%25%2C%201%2072.7%25%2C%200.973%2C%200.953%2C%200.941%2C%200.938%2C%200.941%2C%200.953%2C%0A%20%20%20%200.973%2C%201%2C%200.988%2C%200.984%2C%200.988%2C%201%0A%20%20)%3B*/
    0, 0.004, 0.016, 0.035, 0.063, 0.098, 0.141 13.6%, 0.25, 0.391, 0.563, 0.765,
    1, 0.891 40.9%, 0.848, 0.813, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785,
    0.813, 0.848, 0.891 68.2%, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953,
    0.973, 1, 0.988, 0.984, 0.988, 1),
    opacity 1s ease;
  & #message-title {
    position: absolute;
    top: -3px;
    left: 80px;
  }
  & #message-description {
    position: absolute;
    width: 85%;
    height: fit-content;
    top: 30px;
    left: 20px;
  }
  & > svg {
    position: absolute;
    top: 0;
    left: 15px;
  }
}

.fake {
  color: rgb(0, 17, 255);
  visibility: hidden;
}

/*-------- ANIMATIONS --------*/

@keyframes shine {
0%   { left: -150%; }
100% { left: 150%; }
}
